ShapeNet2.0/C1/Biases.txt
ShapeNet2.0/C1/Filters.txt
ShapeNet2.0/C2/Biases.txt
ShapeNet2.0/C2/Filters.txt
ShapeNet2.0/C3/Biases.txt
ShapeNet2.0/C3/Filters.txt
ShapeNet2.0/FC/Biases.txt
ShapeNet2.0/FC/Weights.txt
